* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 20px;
}

.row{
    display: flex;
    gap: 5px;
    justify-content: space-between;
}

.row-item {
    color: white;
    width: 16%;
    height: 30px;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

















