* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 10px;
    background-color: aliceblue;
    border: 1px solid gray;
    width: 500px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.row {
    display: flex;
    justify-content: space-evenly;
}

.item {
    background-color: aquamarine;
    width: 24%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}






















